DISCORD_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
LOG_LEVEL=INFO
AUDIT_LOG_SEND_CHANNEL=99999999.99999999;99999999.99999999
IS_HEROKU=False
SAVE_FILE_MESSAGE=twitter
FIRST_REACTION_CHECK=True
SCRAPBOX_SID_AND_PROJECTNAME=all:scrapbox_sid@projectname1,projectname2;guild1:scrapbox_sid@projectname3
COUNT_RANK_SETTING=5
PURGE_TARGET_IS_ME_AND_BOT=False
OHGIRI_JSON_URL=ohgiri_json_url
REACTION_CHANNELER_PERMIT_WEBHOOK_ID=99999999;99999999
WORDWOLF_JSON_URL=wordwolf_json_url
NGWORD_GAME_JSON_URL=ngword_game_json_url
APPLICATION_ID="99999999" # YOUR_DISCORD_BOT_APPLICATION_ID
ENABLE_SLASH_COMMAND_GUILD_ID="99999999" 